internal/n8n-workflows/delivery-export.json
{
  "name": "\u4ea4\u4ed8\u5bfc\u51fa\u5de5\u4f5c\u6d41",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "delivery-export",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "\u89e6\u53d1\u5e73\u53f0\u4efb\u52a1\u7ba1\u7ebf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLATFORM_API_URL }}/api/n8n-webhook/run-tasks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "projectId",
              "value": "={{ $json.body.projectId }}"
            },
            {
              "name": "deliveryType",
              "value": "={{ $json.body.deliveryType }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "\u8fd4\u56de\u7ed3\u679c",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "\u89e6\u53d1\u5e73\u53f0\u4efb\u52a1\u7ba1\u7ebf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u89e6\u53d1\u5e73\u53f0\u4efb\u52a1\u7ba1\u7ebf": {
      "main": [
        [
          {
            "node": "\u8fd4\u56de\u7ed3\u679c",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}