internal/n8n-workflows/delivery-export.json
{
  "name": "交付导出工作流",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "delivery-export",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "触发平台任务管线",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLATFORM_API_URL }}/api/n8n-webhook/run-tasks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "projectId", "value": "={{ $json.body.projectId }}" },
            { "name": "deliveryType", "value": "={{ $json.body.deliveryType }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[ { "node": "触发平台任务管线", "type": "main", "index": 0 } ]] },
    "触发平台任务管线": { "main": [[ { "node": "返回结果", "type": "main", "index": 0 } ]] }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}
