internal/n8n-workflows/delivery-export.json
{
  "name": "交付导出工作流",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "delivery-export",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "GET"
      }
    },
    {
      "id": "cc-bridge-gen",
      "name": "调用 Claude Code 生成代码",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=生成完整项目代码，项目ID: {{ $json.body.projectId }}"
            },
            {
              "name": "context",
              "value": "=交付类型: {{ $json.body.deliveryType }}。生成包含 index.html、package.json、Dockerfile、nginx.conf、README.md、.gitignore、tests/ 的完整项目"
            },
            {
              "name": "taskType",
              "value": "delivery"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "触发平台任务管线",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLATFORM_API_URL }}/api/n8n-webhook/run-tasks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "projectId",
              "value": "={{ $json.body.projectId }}"
            },
            {
              "name": "deliveryType",
              "value": "={{ $json.body.deliveryType }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, ccResult: $json.result, pipelineResult: $json } }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "调用 Claude Code 生成代码",
            "type": "main",
            "index": 0
          },
          {
            "node": "触发平台任务管线",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用 Claude Code 生成代码": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "触发平台任务管线": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "active": true
}