internal/n8n-workflows/demo-generate.json
{
  "name": "演示生成工作流",
  "active": true,
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567891",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "demo-generate",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "cc-bridge-demo",
      "name": "调用 Claude Code 生成 Demo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 250],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=生成完整Demo HTML预览，项目ID: {{ $json.query.projectId }}。要求：单文件HTML SPA，左侧导航+右侧内容区，标注data-module-key和data-element-path"
            },
            {
              "name": "taskType",
              "value": "demo"
            },
            {
              "name": "context",
              "value": "=项目ID: {{ $json.query.projectId }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "save-to-api",
      "name": "保存 Demo HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLATFORM_API_URL }}/internal/workflows/demo-generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "projectId",
              "value": "={{ $json.query.projectId }}"
            },
            {
              "name": "html",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "return-result",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, htmlLength: $json.result ? $json.result.length : 0 } }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "调用 Claude Code 生成 Demo", "type": "main", "index": 0 }
        ]
      ]
    },
    "调用 Claude Code 生成 Demo": {
      "main": [
        [
          { "node": "保存 Demo HTML", "type": "main", "index": 0 }
        ]
      ]
    },
    "保存 Demo HTML": {
      "main": [
        [
          { "node": "返回结果", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}
