internal/n8n-workflows/plan.json
{
  "name": "方案生成工作流",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "parameters": {
        "path": "plan",
        "responseMode": "lastNode",
        "httpMethod": "GET"
      },
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "name": "调用平台后端 API",
      "type": "n8n-nodes-base.httpRequest",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLATFORM_API_URL }}/internal/workflows/plan",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "projectId",
              "value": "={{ $json.body.projectId }}"
            }
          ]
        }
      },
      "position": [
        250,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "position": [
        500,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "调用平台后端 API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用平台后端 API": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}